{% extends "page.html" %}
{% block title %}About{% endblock %}
{% block page_content %}
  <h1>About this site</h1>
  <p class="lead">Convenient access to headphone convolution filters.</p>
  <p>
    A quick overview of what the site's for and who's work we're using. Someday
    this should be more informative but there's more fun stuff to be working on
    right now.
  </p>
  <h2>AutoEq</h2>
  <p>
    This is a Python/Flask site that presents a more user friendly view of the
    great work done by <a alt="Jaakko Pasanen's GitHub page." href="https://github.com/jaakkopasanen">Jaakko Pasanen</a>
    on the <a alt="The AutoEq GitHub project." href="https://github.com/jaakkopasanen/AutoEq">AutoEq project</a>.
  </p>
  <h2>Bootstrap</h2>
  <p>
    The site uses <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" alt="Bootstrap home page.">Bootstrap</a>
    for web page layout and features, mainly because I'm comfortable with it.
  </p>
  <h2>Icons and Type Badges</h2>
  <p>
    The site uses icons from the <a alt="The Noun project home page." href="https://thenounproject.com/">Noun project</a>,
    an online collection of icons. The site also uses some elements from the
    <a alt="Font Awesome home page" href="https://fontawesome.com/">Font Awesome</a>
    icon library.
  </p>
{% endblock page_content %}
